<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lanshela - Create Task</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{../../vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{../../css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!--Left Side Bar -->

    <div th:replace="leftSideBar :: leftSideBar"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!--Top Bar-->

            <div th:replace="topBar :: topBar"></div>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Create a new Task!</h6>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/tasks/create}" th:object="${task}" method="post">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="taskName"><strong>Name: </strong></label>
                                    <input type="text" class="form-control" id="taskName"
                                           placeholder="Enter task name..." th:field="${task.name}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="taskDescription"><strong>Description: </strong></label>
                                    <input type="text" class="form-control" id="taskDescription"
                                           placeholder="Enter task description..." th:field="${task.description}">
                                </div>
                            </div>

                            <div class="form-row">

                                <div class="form-group col-md-6">
                                    <label for="taskLeader"><strong>Leader: </strong></label>
                                    <select id="taskLeader" class="form-control"  th:field="${task.leaderId}">
                                        <option th:each="employee : ${task.employees}" th:value="${employee.id}"
                                                th:text="${employee.personalData.firstName}+' '+${employee.personalData.lastName}"></option>
                                    </select>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="taskStatus"><strong>Status: </strong></label>
                                    <select id="taskStatus" class="form-control" th:field="${task.taskStatusId}">
                                        <option th:each="taskStatus : ${task.taskStatuses}" th:value="${taskStatus.id}"
                                                th:text="${taskStatus.name}"></option>

                                    </select>
                                </div>

                            </div>

                            <button type="submit" class="btn btn-primary">Create</button>
                        </form>
                    </div>
                </div>
            </div>


            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>
        </div>
        <!-- End of Content Wrapper -->
        <div th:replace="footer :: footer"></div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{../../vendor/jquery/jquery.min.js}"></script>
<script th:src="@{../../vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{../../vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{../../js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{../../vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{../../js/demo/chart-area-demo.js}"></script>
<script th:src="@{../../js/demo/chart-pie-demo.js}"></script>

</body>

</html>
