<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lanshela - Employees List</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{../../vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{../../css/sb-admin-2.min.css}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link th:href="@{../../vendor/datatables/dataTables.bootstrap4.min.css}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!--Left Side Bar -->
    <div th:replace="leftSideBar :: leftSideBar"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!--Top Bar-->
            <div th:replace="topBar :: topBar"></div>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Employees</h1>
                <p class="mb-4">Right below you can see a list of employees with simple data such as login and
                    email.</a>.</p>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Employees</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <td><strong>Id</strong></td>
                                    <td><strong>First name</strong></td>
                                    <td><strong>Last name</strong></td>
                                    <td><strong>Login</strong></td>
                                    <td><strong>Email</strong></td>
                                    <td><strong>Actions</strong></td>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <td><strong>Id</strong></td>
                                    <td><strong>First name</strong></td>
                                    <td><strong>Last name</strong></td>
                                    <td><strong>Login</strong></td>
                                    <td><strong>Email</strong></td>
                                    <td><strong>Actions</strong></td>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr th:each="employee : ${employees}">
                                    <td th:text="${employee.id}"></td>
                                    <td th:text="${employee.personalData.firstName}"></td>
                                    <td th:text="${employee.personalData.lastName}"></td>
                                    <td th:text="${employee.userData.login}"></td>
                                    <td th:text="${employee.userData.email}"></td>
                                    <td>
                                        <a href=""><i class="fas fa-edit"></i></a>
                                        <a href=""><i class="fas fa-sign"></i></a>
                                        <a href=""><i class="fas fa-times"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <div th:replace="footer :: footer"></div>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<!-- Bootstrap core JavaScript-->
<script th:src="@{../../vendor/jquery/jquery.min.js}"></script>
<script th:src="@{../../vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{../../vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{../../js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{../../vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{../../vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{../../js/demo/datatables-demo.js}"></script>

</body>

</html>
